{% load static %}
<nav id="mainnav-container" class="mainnav">
    <div class="mainnav__inner">

        <!-- Navigation menu -->
        <div class="mainnav__top-content scrollable-content pb-5">

            <!-- Profile Widget -->
            <div class="mainnav__profile mt-3 d-flex3">

                <div class="mt-2 d-mn-max"></div>

                <!-- Profile picture  -->
                <div class="mininav-toggle text-center py-2">
                    <img class="mainnav__avatar img-md rounded-circle border"
                        src="{% static 'assets/img/profile-photos/1.png' %}" alt="Profile Picture">
                </div>

                <div class="mininav-content collapse d-mn-max">
                    <div class="d-grid">

                        <!-- User name and position -->
                        <button class="d-block btn shadow-none p-2" data-bs-toggle="collapse" data-bs-target="#usernav"
                            aria-expanded="false" aria-controls="usernav">
                            <span class="dropdown-toggle d-flex justify-content-center align-items-center">
                                <h6 class="mb-0 me-3">{{ war_name_police_office }}</h6>
                            </span>
                            <small class="text-start text-muted">{{ function }}</small>
                        </button>

                        <!-- Collapsed user menu -->
                        <div id="usernav" class="nav flex-column collapse">
                            <a href="#" class="nav-link d-flex justify-content-between align-items-center">
                                <span><i class="demo-pli-mail fs-5 me-2"></i><span class="ms-1">Messages</span></span>
                                <span class="badge bg-danger rounded-pill">14</span>
                            </a>
                            <a href="#" class="nav-link">
                                <i class="demo-pli-male fs-5 me-2"></i>
                                <span class="ms-1">Profile</span>
                            </a>
                            <a href="#" class="nav-link">
                                <i class="demo-pli-gear fs-5 me-2"></i>
                                <span class="ms-1">Settings</span>
                            </a>
                            <a href="#" class="nav-link">
                                <i class="demo-pli-computer-secure fs-5 me-2"></i>
                                <span class="ms-1">Lock screen</span>
                            </a>
                            <a href="#" class="nav-link">
                                <i class="demo-pli-unlock fs-5 me-2"></i>
                                <span class="ms-1">Logout</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End - Profile widget -->

            <!-- Navigation Category -->
            <div class="mainnav__categoriy py-3">
                <h6 class="mainnav__caption mt-0 px-3 fw-bold">Inicio</h6>
                <ul class="mainnav__menu nav flex-column">
                    <!-- Link with submenu -->
                    <li class="nav-item has-sub">
                        <a href="{% url 'core:home' %}" class="nav-link active"><i class="demo-pli-home fs-5 me-2"></i>
                            <span class="nav-label ms-1">Dashboard</span>
                        </a>
                    </li>
                    <!-- END : Link with submenu -->
                </ul>
            </div>
            <!-- END : Navigation Category -->

            {% if user.is_staff %}
                <!-- Navigation Category -->
                <div class="mainnav__categoriy py-3">
                    <h6 class="mainnav__caption mt-0 px-3 fw-bold">Gestão de Policiais</h6>
                    <ul class="mainnav__menu nav flex-column">
                        <li class="nav-item">
                            <a href="#submenu-policiais" data-bs-toggle="collapse" 
                            class="nav-link collapsed d-flex justify-content-between align-items-center">
                                <span>
                                    <i class="demo-pli-police fs-5 me-2"></i>
                                    <span class="nav-label">Policiais</span>
                                </span>
                                <i class="demo-pli-arrow-down fs-5"></i>
                            </a>
                            <div class="collapse" id="submenu-policiais">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'police:policial-list' %}" class="nav-link">
                                            <i class="pli-user fs-5 me-2"></i>
                                            <span class="nav-label">Lista de Policiais</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'police:policial-create' %}" class="nav-link">
                                            <i class="demo-pli-add-user fs-5 me-2"></i>
                                            <span class="nav-label">Novo Policial</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- END : Navigation Category -->


                <!-- Navigation Category -->
                <div class="mainnav__categoriy py-3">
                    <h6 class="mainnav__caption mt-0 px-3 fw-bold">Gestão de Funções</h6>
                    <ul class="mainnav__menu nav flex-column">
                        <li class="nav-item">
                            <a href="#submenu-funcoes" data-bs-toggle="collapse" 
                            class="nav-link collapsed d-flex justify-content-between align-items-center">
                                <span>
                                    <i class="demo-pli-id-card fs-5 me-2"></i>
                                    <span class="nav-label">Funções</span>
                                </span>
                                <i class="demo-pli-arrow-down fs-5"></i>
                            </a>
                            <div class="collapse" id="submenu-funcoes">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'police:grupo-funcao-list' %}" class="nav-link">
                                            <i class="demo-pli-folder fs-5 me-2"></i>
                                            <span class="nav-label">Grupos de Função</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'police:funcao-list' %}" class="nav-link">
                                            <i class="demo-pli-medal-2 fs-5 me-2"></i>
                                            <span class="nav-label">Funções</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- END : Navigation Category -->
            {% endif%}

            

            <!-- Dynamic Modules Navigation -->
            {% load navigation %}
            {% if user.is_authenticated %}
                {% render_nav_menu %}
            {% endif %}

            
            
            <!-- END : Components Category -->
            <!-- Widget -->
            <div class="mainnav__profile">

                <!-- Widget buttton form small navigation -->
                <div class="mininav-toggle text-center py-2 d-mn-min">
                    <i class="demo-pli-monitor-2"></i>
                </div>
                <div class="d-mn-max mt-5"></div>
            </div>
            <!-- End - Profile widget -->

        </div>
        <!-- End - Navigation menu -->

        <!-- Bottom navigation menu -->
        <div class="mainnav__bottom-content border-top pb-2">
            <ul id="mainnav" class="mainnav__menu nav flex-column">
                <li class="nav-item has-sub">
                    <a href="#" class="nav-link mininav-toggle collapsed" aria-expanded="false" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i class="demo-pli-unlock fs-5 me-2"></i>
                        <span class="nav-label ms-1">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <!-- modal-dialog-centered -->
                <div class="modal-content">
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Fazer Logout</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5 class="nav-label ms-1">Tem certeza que deseja sair do sistema?</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Sair</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End - Bottom navigation menu -->
    </div>
</nav>

<script>

    function setEventCode(event_code) {
        main_form = document.getElementById("main_form")

        let input = document.getElementById('note_to_change')
        input.setAttribute('type',"text")
        input.setAttribute("value", event_code)

        main_form.submit();
    }
</script>